input {
	display: block;
	margin-bottom: 5px;
	width: 50%;
	height: 20px;
}

table {
	float: right;
	width: 40%;
	border: solid #808080 1px;
	border-collapse: collapse;
	margin-right: 15px;
}

form {
  width: 50%;
	float: left;
	margin-left: 15px;
}

th,tr,td {
	border: solid #808080 1px;
}

td {
	padding-left: 4px;
}

header {
	text-align: center;
}

body {
	font-family: sans-serif;
}

button {
	background-color: #008000;
	width: 25%;
	height: 30px;
	color: #f0ffff;
}